<!DOCTYPE html>
<html>
    <head>
        <title>Agro-DiagnosticoIA inicio</title>
        <link rel="icon" href="/static/images/iconADIA.ico" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="/static/css/stylesplat.css">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    </head>
    <body>

    <header>
        <div class="menu">
            <img src="/static/images/logoAgroDiagnosticoIA.png" class="imglogo">
            <nav>
                <ul>
                    <li><a href="/upload/">Plataforma</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#"><img src="/static/images/Registro.png"></a></li>
                    <li><a href="#"><img src="/static/images/iniciosesion.png"></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="contenedor1">
        <div>
            <h1><b>Protege tus cultivos y 
            asegura tu producción con ayuda 
            de Inteligencia Artificial</b></h1>

            <p class="parr1">Usa la <b>Inteligencia Artificial</b>  para saber lo que necesitan tus cultivos. Automatiza con nosotros el proceso de detección y diagnóstico de plagas y enfermedades.</p>
        </div>
        <img src="/static/images/imagendron1.png" class="imagen">
        
    </div>

    <div>
        <h2>¿Cómo puedes utilizar nuestro servicio?</h2>
    </div>

    <div class="contenedor2">
        <div>
            <img src="/static/images/uno.PNG">
            <h3>Toma las fotos</h3>
            <p class="parr2">Toma las fotos de las hojas de la planta de tu interés, siguiendo las recomendaciones que encontrarás en nuestra plataforma.</p>
        </div>

        <div>
            <img src="/static/images/dos.PNG" class="dos">
            <h3>Sube tus imágenes</h3>
            <p class="parr2">Sube las imágenes de tu cultivo por medio de la opción "Cargar imágenes" dentro de la plataforma.</p>
        </div>

        <div>
            <img src="/static/images/tres.PNG" class="tres">
            <h3>Recibe tu diagnósticos</h3>
            <p class="parr2">La Inteligencia Artificial se encargará de detectar y clasificar las enfermedades encontradas en las imágenes, para así entregarte un diagnóstico de la salud de tu cultivo.</p>
        </div>

        <img src="/static/images/imageninicio.PNG" class="imagen2">

    </div>

    <div class="contenedor3">
        <h2>Mantente informado</h2>
        <p class="parr3">Recibe las actualizaciones de nuestro Blog directo a tu correo.</p>
        <form class="formulario">
            <input class="campo" type="text" placeholder="Email">
            <input class="campo" type="text" placeholder="Nombre">
            <input class="boton" type="submit">
        </form>
    </div>
    <div>
        <header class="contenedor4">
            <div class="menu2">
                <nav class="nav2">
                    <ul>
                        <li><a href="/upload/">Plataforma</a> </li>
                        <li><a href="#">Acerca de</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>

    <div class="contenedor5">
        <h4>Medellín, Antioquia, Colombia</h4>
        <h4>© 2024 Agro-DiagnósticoIA. Todos los derechos reservados.</h4>
    </div>
    </body>
    
</html>


